.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 27px;
}

.advantages {
  margin-bottom: 59px;
}

.advantages__icon path {
  fill: #63d1bb;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}

.advantages__wrapper {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 70px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding-top: 29px;
    padding-left: 8px;
  }

  .advantages__wrapper {
    width: auto;
    padding: 0 46px;
  }
}

@media (min-width: 1150px) {
  .advantages {
    margin-bottom: 47px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__wrapper {
    width: 700px;
    padding: 0;
  }

  .advantages__item {
    padding-top: 28px;
    padding-left: 0;
    width: 50%;
    margin-bottom: 14px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item:first-child {
    order: -6;
  }

  .advantages__item:nth-child(4) {
    order: -5;
  }

  .advantages__item:nth-child(2) {
    order: -4;
  }

  .advantages__item:nth-child(5) {
    order: -4;
  }
}
