.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.advantages {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media (min-width: 780px) {
  .advantages {
    width: 646px;
  }
}

@media (min-width: 1150px) {
  .advantages {
    width: 700px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    width: 350px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
