.best-product__title {
  font-size: 25px;
  line-height: 30px;
}

.best-product__caption {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #63d1bb;
}

.best-product__description {
  font-size: 15px;
  line-height: 24px;
}

.best-product__table {
  font-size: 15px;
  line-height: 20px;
}

.best-product__price {
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.best-product__btn {
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
