.catalog-video__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 30px 10px 32px 30px;
  display: flex;
  justify-content: space-between;
}

.catalog-video__icon path {
  fill: #63d1bb;
}

.catalog-video__icon {
  margin-right: 20px;
}

.catalog-video__comment {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
  padding: 22px;
}

.catalog-video {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 93px;
}

.catalog-video::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ededed;
  bottom: -50px;
}

.catalog-video__btn {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 14px;
  border: 2px solid;
  text-align: center;
}

.catalog--button {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 1150px) {
  .catalog-video__comment {
    width: 370px;
    padding: 45px 60px 60px 60px;
  }

  .catalog-video__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }

  .catalog-video {
    display: flex;
  }

  .catalog-video__content {
    width: 680px;
  }
}
