.catalog-video__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 24px 13px 24px 33px;
  display: flex;
  justify-content: space-between;
}

.catalog-video__img {
  width: 100%;
  height: auto;
}

.catalog-video__icon-svg {
  fill: #63d1bb;
}

.catalog-video__icon {
  margin-right: 25px;
}

.catalog-video__comment {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
  padding: 13px 33px 30px 35px;
}

.catalog-video__description {
  margin-bottom: 24px;
}

.catalog-video_wrapper {
  padding: 0 30px;
}

.catalog-video {
  position: relative;
  width: auto;
  margin-bottom: 60px;
  border: 1px solid #ececec;
}

.catalog-video::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ededed;
  bottom: -50px;
}

.catalog-video__btn {
  padding: 16px 10px;
}

.catalog--button {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.catalog-video__content {
  position: relative;
}

.catalog-video__play_button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -51px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .catalog-video__icon {
    margin-right: 31px;
  }

  .catalog-video_wrapper {
    padding: 0 50px;
  }

  .catalog-video {
    padding-bottom: 49px;

    &::before,
    &::after {
      display: none;
    }
  }

  .catalog-video__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .catalog-video__description {
    padding: 17px 1px;
    margin: 0 0 18px;
  }

  .catalog-video__comment {
    padding: 0 41px 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-video__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    justify-content: flex-start;
    padding: 35px 13px 7px 42px;
  }

  .catalog-video__play_button {
    margin-top: -83px;
  }
}

@media (min-width: 1150px) {
  .catalog-video__comment {
    width: 370px;
    padding: 167px 60px 60px 81px;
    position: relative;
  }

  .catalog-video__icon-svg {
    margin-bottom: 18px;
  }

  .catalog-video__play_button {
    margin-top: -39px;
  }

  .catalog-video:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog-video__description {
    margin-bottom: 35px;
    padding: 12px 0;
  }

  .catalog-video__title {
    position: absolute;
    left: 704px;
    top: 23px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    flex-direction: column;
    padding: 18px 13px 10px 55px;
  }

  .catalog-video__img {
    width: 682px;
    height: 455px;
  }

  .catalog-video {
    display: flex;
    align-items: flex-start;
    width: 1050px;
    margin: 0 auto 55px;
  }

  .catalog-video__content {
    width: 680px;
  }

  .catalog-video__icon:hover {
    transform: scale(1.2);
  }

  .catalog-video__icon:active {
    opacity: 0.3;
    width: 70px;
    height: 52px;
  }
}
