.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__list {
  list-style: none;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__link {
  color: inherit;
  border-bottom: 1px solid #62d1ba;
  text-decoration: none;
}

.contacts__btn {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 50px;
  border: 2px solid;
  text-align: center;
}


.contacts {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    width: 85%;
    display: flex;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 50%;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}
