.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 28px;
}

.contacts__map--api {
  height: 460px;
  background-color: #f6e9d6;
}

.map--offline {
  display: none;
}

.contacts__map_img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.contacts__list {
  list-style: none;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__link {
  color: inherit;
}

.contacts__link:hover {
  color: #46c1ae;
}

.contacts__link:active {
  opacity: 0.9;
}

.contacts__btn {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 2px;
  border: 2px solid;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.contacts__wrapper {
  // width: auto;
  padding: 0 26px 4px;
}

.contacts__address {
  font-style: none;
  padding: 2px 38px 2px 30px;
  margin: 0;
}

.contacts__btn-wrapper {
  margin-bottom: 37px;
  padding: 3px 30px;
}

.contacts__map {
  margin-bottom: 35px;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


@media (min-width: 768px) {
  .contacts {
    margin-bottom: 43px;
  }

  .contacts__wrapper {
    padding: 18px 46px 0;
  }

  .contacts__address {
    padding: 2px 38px 2px 20px;
  }

  .contacts__map {
    margin-bottom: 45px;
  }

  .contacts__map_img {
    height: 454px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    padding: 9px 0 0;
    margin-bottom: 50px;
  }

  .contacts__title::after {
    position: absolute;
    content: "";
    background: url("../img/icon-flag.svg") no-repeat;
    right: 0;
    top: -4px;
    width: 55px;
    height: 85px;
  }

  .contacts__btn-wrapper {
    width: 249px;
    margin: 0 auto;
    padding: 13px 9px;
  }

  .contacts__link {
    position: relative;
  }

  .contacts__link::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 200px;
    background-color: #62d1ba;
    left: 0;
    top: 24px;
  }

  .contacts__list {
    display: flex;
    font-size: 17px;
    line-height: 30px;
    justify-content: space-between;
  }

  .contacts__item {
    width: 282px;
    display: flex;
    justify-content: space-evenly;
  }

  .contacts__item:last-child {
    width: 334px;
  }
}


@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 93px;
  }

  .mapssss {
    position: absolute;
    right: 0;
    top: -66px;
    width: 525px;
    height: 457px;
  }

  .contacts__link {
    display: inline-block;
    padding: 10px 0;
  }

  .contacts__link::after {
    top: 33px;
  }

  .contacts__item {
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
  }

  .contacts__name {
    padding: 8px 0;
  }

  .contacts__address {
    padding: 9px 27px;
  }

  .contacts__wrapper {
    width: 1050px;
    margin: 0;
    padding: 0;
  }

  .contacts__map--api {
    width: 525px;
    height: 457px;
  }

  .contacts__map--api-wrapper {
    position: absolute;
    right: 0;
    top: -66px;
  }


  .contacts__map_img {
    position: absolute;
    right: 0;
    top: -66px;
    width: 525px;
    height: 457px;
  }

  .contacts__cell {
    width: 423px;
    margin-left: 150px;
  }

  .contacts__map {
    width: 50%;
    margin-bottom: 47px;
  }

  .contacts__btn-wrapper {
    margin-left: 170px;
    padding: 11px 13px 11px 5px;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    padding: 0 23px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding: 10px 18px;
    margin-bottom: 30px;
  }

  .contacts__title::after {
    left: -87px;
    top: 1px;
  }
}
