.form-list__title {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #62d1ba;
  padding: 5px;
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
}

.form-list__icon_input {
  position: relative;
}

.form-list__email {
  padding: 10px;
}

.form-list__icon {
  position: absolute;
  right: 0;
  bottom: 14px;
}


.form-list__cell label {
  display: block;
  padding: 1px 1px;
  position: relative;
}

.form-list__inner {
  width: 93%;
  margin-left: auto;
}

.form-list__inner label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  margin-right: 20px;
  margin-left: -21px;
}

.form-list__inner label:hover::before {
  border-color: #62d1ba;
}


.form-list__inner label:active::before {
  border-color: #c7c7c7;
}

.checkbox--control:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 23px 17px;
  width: 20px;
  height: 20px;
  left: -9px;
  top: 11px;
}

.radio--control:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #62d1ba;
}

.form-list__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-list__radio label {
  padding-top: 13px;
  display: flex;
  margin-bottom: 16px;
  position: relative;
}

.form-list__radio label::before {
  content: "";
  margin: -9px 23px 0 0;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
  flex-shrink: 0;
}

.form-list__radio label:hover::before {
  border-color: #62d1ba;
}

.form-list__radio label:active::before {
  border-color: #c7c7c7;
}

.form-list__title::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 200px;
  background-color: #62d1ba;
  top: 14px;
  right: -7px;
}

.form-list__form_button {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 42px;
  border: 2px solid;
  text-align: center;
  background-color: transparent;
}

.form-list__tel {
  padding: 10px;
}

.form-list__case {
  margin-bottom: 21px;
}

.form-list__cell {
  margin-bottom: 13px;
  padding-top: 6px;
  padding-left: 5px;
}

.form-list__name {
  margin: 0;
  margin-bottom: 32px;
}

.phone--title {
  margin-bottom: 0;
}

.email--title {
  margin-bottom: 0;
  padding: 0;
}

.form-list__name input:hover:focus {
  border-bottom: 2px solid #62d1ba;
}

.form-list__name label {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 15px;
}

.form-list__name input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
}

.form-list__icon path {
  fill: #cccccc;
}

.form-list__icon path:hover {
  fill: #62d1ba;
}

.form-list__btn small {
  font-size: 14px;
  color: #282828;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 19px;
}

.form-list__btn {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .form-list__btn {
    justify-content: space-between;
    flex-direction: row;
    padding-left: 55px;
    padding-right: 30px;
    padding-top: 18px;
  }

  .form-list__radio_inner {
    width: 501px;
    display: flex;
    justify-content: space-between;
  }

  .form-list__name {
    margin-bottom: 46px;
    display: flex;
  }

  .form-list__name label {
    width: 72px;
    margin-right: 53px;
  }

  .form-list__name input {
    background-color: transparent;
  }

  .form-list__case:nth-child(4) p {
    position: relative;
    padding-bottom: 5px;
    padding-top: 35px;
    margin: 0;
  }

  .form-list__case:nth-child(5) {
    padding-bottom: 40px;
    margin-bottom: 30px;
  }

  .form-list__icon {
    position: absolute;
    right: 0;
    bottom: 15px;
  }

  .form-list__numbers-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 37px 0 54px 17px;
  }

  .form-list__message {
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 45px;
    padding-top: 15px;
  }

  .form-textarea {
    width: 74%;
  }

  .form-list__cell {
    width: 50%;
    margin-bottom: 21px;
  }

  .form-list__wrapper {
    display: flex;
  }

  .form-list__box {
    font-size: 19px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 66px;
    padding-left: 18px;
    padding-bottom: 28px;
  }

  .form-list__inner {
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-direction: column;
  }

  .form-list__title {
    width: 54px;
    align-self: end;

    &::before,
    &::after {
      display: none;
    }
  }

  .form-list__case:first-child {
    display: flex;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
  }

  .form-list__case:nth-child(3) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding-top: 34px;
    padding-left: 3px;
  }

  .form-list__case:nth-child(3) .form-list__wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }

  .form-list__radio {
    width: 334px;
    font-size: 19px;
    line-height: 18px;
    padding-top: 0;
  }

  .form-list__radio label {
    margin-bottom: 24px;
  }

  .form-list__radio label::before {
    width: 53px;
    height: 53px;
  }

  .radio--control:checked + label::after {
    top: 21px;
    left: 17px;
  }

  .form-list__inner label::before {
    width: 53px;
    height: 53px;
  }

  .checkbox--control:checked + label::after {
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
  }

  .form-list__form_button {
    width: 34%;
    padding: 2px 29px;
  }

  .form-list__case.grey {
    background-color: #f1f1f1;
  }

  .form-list__form_note {
    width: 334px;
  }
}

@media (min-width: 1150px) {
  .form-list__case {
    padding: 65px;
    margin-bottom: 0;
  }

  .icon--input {
    position: relative;
  }

  .form-list__icon {
    position: absolute;
    right: 0;
    bottom: 18px;
  }

  .form-list__numbers-wrapper {
    width: 800px;
  }

  .form-list__name label {
    width: 96px;
  }

  .form-list__name {
    margin-bottom: 44px;
  }

  .form-list__case:nth-child(3) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 200px;
  }

  .form-list__case:nth-child(4) {
    padding-top: 0;
    padding-right: 200px;
    padding-bottom: 0;
  }

  .form-list__case:nth-child(5) {
    padding-top: 32px;
    padding-right: 176px;
    margin-bottom: 62px;
  }

  .form-list__message {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 26px;
  }

  .form-textarea {
    width: 700px;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-left: 17px;
  }

  .form-list__btn {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;

    .form-list__form_button {
      width: 30%;
      padding: 6px 18px 15px;
      margin: 0;
    }

    .form-list__form_note {
      width: 40%;
      margin: 0;
    }
  }

  .form-list__case:nth-child(3) .form-list__wrapper {
    width: 700px;
    padding-top: 24px;
  }

  .form-list__title {
    width: 105px;
  }

  .form-list__case:first-child {
    width: 1150px;
    padding: 0;
  }

  .form-list__case:first-child .title {
    margin-right: 20px;
  }

  .form-list__radio {
    margin: 0;
  }

  .form-list__radio label::before {
    margin-right: 17px;
  }

  .form-list__radio label {
    margin-bottom: 14px;
  }

  .form-list__cell {
    width: auto;
  }

  .form-list__wrapper {
    width: 255px;
    display: flex;
    flex-direction: column;
  }

  .form-list__inner {
    width: 875px;
    flex-direction: row;
    padding-right: 52px;
    padding-left: 30px;
  }

  .form-list__box {
    padding-top: 10px;
  }

  .form-list__radio_inner {
    width: 911px;
    display: flex;
    margin: 0 auto;
    padding-top: 26px;
    justify-content: start;
  }

  .form-list__case.grey {
    background-color: #f1f1f1;
  }
}
