.main-footer {
  background-color: #f1f1f1;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 760px) {
  .main-footer {
    width: 768px;
  }
}

@media (min-width: 1150px) {
  .main-footer {
    width: 100%;
  }
}

.social-list {
  list-style: none;
  padding: 0;
}

.footer-copyright__link {
  text-decoration: none;
}

.footer-copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}
