.main-catalog__title {
  background-color: #f1f1f1;
  font-size: 27px;
  line-height: 30px;
  padding: 72px 34px 76px;
  text-align: center;
  margin: -3px 0 30px;
}

@media (min-width: 768px) {
  .main-catalog__title {
    position: relative;
    z-index: -1;
    width: auto;
    padding-top: 96px;
    padding-bottom: 83px;
    margin-top: -61px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 77px;
  }

  .main-catalog__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position-x: 0;
  }
}

@media (min-width: 1150px) {
  .main-catalog__title {
    width: 100%;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 125px;
    margin-top: -60px;
    padding-top: 95px;
    padding-bottom: 106px;
  }

  .main-catalog {
    max-width: 100%;
    margin: 0 auto;
  }
}
