.main-footer {
  background-color: #f1f1f1;
  width: auto;
  margin: 0 auto;
}

.main-footer__logo-image:hover {
  fill: #46c1ae;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.main-footer__wrapper {
  display: none;
}

.main-form__inner {
  width: 80%;
  margin: 0 auto;
}


@media (min-width: 765px) {
  .main-footer {
    min-height: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-footer__wrapper {
    display: block;
    width: 180px;
  }

  .main-footer__inner {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .main-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // для IE
    padding: 35px 0;
  }

  .main-footer__inner {
    width: 1050px;
    padding: 0;
    align-items: center;
  }

  .main-footer__logo-image {
    height: 45px;
  }

  .main-footer__wrapper {
    display: block;
    width: 182px;
  }
}
