.main-nav__no-js {
  display: none;
}

.main-nav__list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.main-nav__sub-menu {
  list-style: none;
  padding: 0;
  display: none;
}

.main-nav__sub-menu li {
  padding: 31px 10px;
}

.main-nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.main-nav a:hover {
  color: #b0b0b0;
}

.main-nav a:active {
  color: #cacaca;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 80px;
  height: 72px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-open.svg");
  background-position: 27px 29px;
  background-repeat: no-repeat;
}

.main-nav__toggle__closed {
  background-image: url("../img/icon-menu-close.svg");
}


.main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    min-height: 92px;
  }

  .main-nav__sub-menu li {
    font-size: 15px;
    line-height: 24px;
    padding: 18px 10px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__sub-menu {
    display: block;
  }
}

@media (min-width: 1150px) {
  .main-nav__sub-menu {
    display: flex;
    width: auto;
  }

  .main-nav__sub-menu .site-list__text {
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding: 17px 21px;
    padding-left: 0;
    margin-right: 41px;
  }

  .main-nav__sub-menu a {
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__sub-menu li:last-child {
    margin-left: auto;
    padding: 17px 0;
  }

  .main-nav__wrapper {
    width: 1050px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }
}
