.main-nav__list {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.main-nav__sub-menu {
  list-style: none;
  padding: 0;
}

.main-nav__sub-menu li {
  padding: 30px 0;
}

.main-nav a {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

@media (min-width: 780px) {
  .main-nav {
    min-height: 145px;
  }
}

@media (min-width: 1150px) {
  .site-list__item {
    padding: 30px 10px;
  }

  .site-list__item:nth-child(3) {
    margin-left: auto;
  }

  .main-nav__sub-menu {
    display: flex;
    width: 1050px;
  }

  .main-nav__sub-menu a {
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__sub-menu li:last-child {
    margin-left: auto;
  }

  .main-nav__wrapper {
    margin: 0 auto;
    width: 1050px;
    position: relative;
    display: flex;
  }
}
