.order-page__title {
  background-color: #f1f1f1;
  padding: 73px 30px;
  font-size: 27px;
  line-height: 30px;
  width: auto;
  text-align: center;
  margin: 0;
}

.order-page__wrapper {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.order-page__text {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding: 11px 7px 7px 2px;
  margin-bottom: 9px;
}

.order-page__form {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .order-page__text {
    font-size: 17px;
    line-height: 30px;
    padding-left: 52px;
    padding-right: 51px;
    margin-bottom: 50px;
  }

  .order-page__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .order-page__title {
    position: relative;
    z-index: -1;
    width: auto;
    padding-top: 94px;
    padding-bottom: 84px;
    margin-top: -87px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 58px;
  }

  .order-page__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
  }
}

@media (min-width: 1150px) {
  .order-page__text {
    width: 700px;
    margin: 0 auto;
  }

  .order-page__title {
    width: 100%;
    min-height: 260px;
    font-size: 53px;
    line-height: 57px;
    margin-top: -80px;
  }

  .order-page__wrapper {
    width: 1050px;
    margin: 0 auto;
  }
}
