.main-nav a {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.main-nav__list {
  list-style: none;
  text-decoration: none;

  .main-nav__sub-menu {
    list-style: none;
  }
}

.site-list__item {
  padding: 30px 0;
}

.main-nav__sub-menu li {
  padding: 30px 0;
}
