.page-header__wrapper {
  display: flex;
  width: auto;
  min-height: 79px;
  position: relative;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .page-header {
    width: auto;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .page-header__wrapper {
    margin-left: auto;
    padding: 9px 0 0 47px;
    justify-content: start;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .page-header__wrapper {
    border: none;
    padding: 9px 0 0 60px;
  }

  .page-header__logo {
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

    .page-header__logo-image {
      width: 149px;
      height: 72px;
    }

    .page-header__logo-image:hover {
      opacity: 0.6;
    }

    .page-header__logo-image:active {
      opacity: 0.3;
    }
  }
}
