.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  width: 320px;
}

@media (min-width: 780px) {
  .page-header {
    width: auto;
    margin: 0;
  }
}

.site-list {
  width: 320px;
  min-height: 90px;
}

@media (min-width: 1150px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1150px;
    margin: 0;
  }

  .page-header__wrapper {
    width: 288px;
  }
}

.site-list__item {
  padding: 30px 0;
}
