.promo-buttons {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 33px;

  .promo-buttons__btn {
    text-decoration: none;
    font-weight: bold;
  }
}

@media (min-width: 1150px) {
  .promo-buttons {
    display: flex;
  }

  .promo-buttons__wrap {
    width: 525px;
  }
}

@media (min-width: 780px) {
  .promo-buttons {
    display: flex;
  }

  .promo-buttons__wrap {
    width: 338px;
  }
}
