.promo-buttons {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.promo-buttons__promo_name {
  width: 130px;
}

.promo-buttons__btn {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  padding: 25px 30px 18px 28px;
  color: white;
}

.promo-buttons__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo-buttons__btn_interior {
  background-color: #63d1bb;
}

.promo-buttons__btn_toy {
  background-color: #56c3b2;
}


.promo-buttons__icon-interior {
  fill: #14908080;
}

.promo-buttons__icon-toy {
  fill: #14908080;
}

.promo-buttons__btn_interior:hover .promo-buttons__icon-interior {
  fill: #149080b3;
}

.promo-buttons__btn_toy:hover .promo-buttons__icon-toy {
  fill: #149080b3;
}

.promo-buttons__btn_interior:active .promo-buttons__icon-interior {
  fill: #1490804d;
}

.promo-buttons__btn_toy:active .promo-buttons__icon-toy {
  fill: #1490804d;
}


@media (min-width: 768px) {
  .promo-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -120px;
    padding: 0 50px 0 50px;
  }

  .promo-buttons__promo_name {
    font-size: 20px;
    line-height: 30px;
  }

  .promo-buttons__wrap {
    width: 50%;
  }

  .promo-buttons__btn {
    padding: 26px 36px 30px 36px;
  }
}

@media (min-width: 1150px) {
  .promo-buttons {
    display: flex;
    margin: -116px auto 0;
    max-width: 1050px;
    padding: 0;
  }

  .promo-buttons__btn:hover {
    margin-top: -5px;
  }
}
