.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.reviews__wrap {
  width: 80%;
  margin: 0 auto;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 27px;
}

.reviews__link {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
}

.reviews__btn {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 85px;
  border: 2px solid;
  text-align: center;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.reviews__item {
  margin: 0;
  margin-bottom: 45px;
  padding-left: 10px;
}


.reviews__slider {
  width: 100%;
  border: 1px solid #ececec;
  margin-bottom: 50px;
}

.reviews__sliderBtn {
  width: 49%;
  background-color: transparent;
  border: none;
}

.reviews__inner {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 46px;
}

.reviews {
  margin-bottom: 37px;
}

.reviews::after {
  content: "";
  display: block;
  height: 7px;
  background-repeat: repeat-x;
  background-size: 319px 100%;
  background-image: url("../img/bg-zigzag-line.svg");
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 765px) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 59px;
  }

  .reviews__link {
    display: block;
  }

  .reviews__author {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 76px;
    padding-left: 8px;
    margin-bottom: 49px;
  }

  .reviews__inner {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 46px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__wrap {
    width: 875px;
    margin-left: auto;
  }
}
