.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 11px;
}

.reviews__wrap {
  width: 80%;
  margin: 0 auto;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 4px 1px;
  margin-bottom: 23px;
}

.reviews__link {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
}

.reviews__btn {
  display: block;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 81px;
  border: 2px solid;
  align-self: center;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.reviews__item {
  margin: 0;
  padding-left: 13px;
  padding-right: 10px;
  margin-bottom: 33px;
}


.reviews__slider {
  width: 100%;
  padding: 9px 18px;
  border: 1px solid #ececec;
  margin-bottom: 36px;
}

.reviews__sliderBtn {
  width: 49%;
  background-color: transparent;
  border: none;
}

.reviews__inner {
  width: auto;
  padding: 0 17px 0;
  margin: 0 auto;
  margin-bottom: 46px;
}

.reviews {
  margin-bottom: 34px;
}

.reviews::after {
  content: "";
  display: block;
  height: 7px;
  background-repeat: repeat-x;
  background-size: 319px 100%;
  background-image: url("../img/bg-zigzag-line.svg");
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 765px) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews::after {
    height: 25px;
    background-size: 100% 100%;
    background-position-x: -20px;
  }

  .reviews__item {
    margin-bottom: 0;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 53px;
  }

  .reviews__link {
    display: block;
  }

  .reviews__author {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__slider {
    display: flex;
    justify-content: space-between;
    width: 196px;
    margin-left: auto;
    margin-top: -46px;
    border: none;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 70px;
    padding-left: 8px;
    margin-bottom: 45px;
  }

  .reviews__inner {
    width: auto;
    padding: 0 38px;
    position: relative;
    margin-bottom: 74px;
  }

  .reviews__sliderBtn {
    width: 50%;
  }

  .reviews__btn {
    position: absolute;
    top: 74px;
    right: 50px;
    padding: 15px 41px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 139px;
    background-image: url("/img/review@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__item {
    padding: 0;
  }

  .reviews__text {
    padding-right: 100px;
    padding-left: 5px;
    margin-bottom: 36px;
  }

  .reviews__slider {
    width: 180px;
    margin-top: -51px;
  }

  .reviews__btn {
    top: 80px;
    padding: 14px 41px;
    right: -3px;
  }

  .reviews__inner {
    width: 875px;
    margin-left: 171px;
    margin-bottom: 120px;
    padding: 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 2px;
    padding-top: 71px;
  }

  .reviews__wrap {
    width: 875px;
    margin-left: auto;
  }

  .reviews::after {
    height: 26px;
    background-size: 100% 100%;
  }
}
