.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 36px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 35px;
}

.reviews__link {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
}

.reviews__btn {
  font-size: 18px;
  line-height: 27px;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
}
