.things__list {
  list-style: none;
  padding: 0;
}

.things__list li {
  margin-bottom: 22px;
}

.things-wrapper {
  width: 80%;
  margin: 0 auto;
}

.things__title {
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}

.things__info {
  font-size: 13px;
  color: #444444;
  line-height: 30px;
  margin: 0;
}

.things__price {
  padding: 26px 24px 1px 33px;
}

.things__feature {
  border: 1px solid #ececec;
}

.things__buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 47px 25px 26px 32px;
}

.things__buttons::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background-color: #ececec;
  top: 3px;
}

.things__icon path {
  fill: #d6d6d6;
}

.things__icon path:hover {
  fill: #63d1bb;
}

.things__icon path:active {
  fill: #d0f1ea;
}

@media (min-width: 768px) {
  .things-wrapper {
    width: 700px;
  }

  .things__list li {
    display: flex;
  }
}

@media (min-width: 1150px) {
  .things-wrapper {
    max-width: 1050px;
    width: auto;
  }

  .things__title {
    font-size: 20px;
    line-height: 24px;
  }

  .things__list {
    display: flex;
    justify-content: space-between;
  }

  .things__list li {
    width: 30%;
    min-height: 660px;
    display: flex;
    flex-direction: column;
  }
}
