.things__list {
  list-style: none;
  padding: 0;
}

.things__btn {
  background-color: transparent;
  border: none;
}

.things__icon {
  width: 20px;
  height: 20px;
  fill: #d3d2d2;
}

.things__item {
  margin-bottom: 31px;
  width: 100%;
}

.things__img_toys {
  width: 100%;
  height: auto;
}

.things-wrapper {
  width: auto;
  padding: 0 30px;
  margin: 0 auto;
}

.things__title {
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}

.things__title:hover {
  opacity: 0.6;
}

.things__title:active {
  opacity: 0.3;
}

.things__btn:hover .things__icon {
  fill: #63d1bb;
}

.things__btn:active .things__icon {
  opacity: 0.3;
}

.things__info {
  font-size: 13px;
  color: #444444;
  line-height: 30px;
  margin: 0;
  padding: 5px 0;
}

.things__price {
  padding: 26px 25px 1px 28px;
  margin-bottom: 9px;
}

.things__feature {
  border: 1px solid #ececec;
}

.things__buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 29px 19px 22px 26px;
}

.things__buttons::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background-color: #ececec;
  top: 3px;
}

@media (min-width: 768px) {
  .things-wrapper {
    width: auto;
    padding: 0 50px;
    margin-bottom: 53px;
  }

  .things__info {
    font-size: 15px;
    padding: 8px 0;
  }

  .things__buttons {
    font-size: 17px;
    line-height: 30px;
    padding: 18px 24px 24px 31px;
  }

  .things__price {
    padding: 24px 22px 1px 26px;
  }

  .things__item {
    margin-bottom: 54px;
  }

  .things__img {
    width: 50%;
  }


  .things__item {
    display: flex;
    margin-bottom: 50px;
  }

  .things__feature {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .things__list li:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .things__list li:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .things__title {
    font-size: 20px;
    line-height: 24px;
  }
}


@media (min-width: 1150px) {
  .things-wrapper {
    max-width: 1050px;
    width: auto;
    padding: 0;
  }

  .things__feature {
    width: 100%;
  }

  .things__title {
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
  }

  .things__info {
    font-size: 15px;
    line-height: 30px;
    padding: 4px 0 14px;
  }

  .things__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .things__list li {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .things__list li:last-child .things__price {
    padding: 27px 24px 8px 24px;
  }

  .things__img_toys {
    width: 315px;
    height: 462px;
  }

  .things__buttons {
    padding: 3px 25px 26px 25px;
  }

  .things__price {
    padding: 27px 29px 32px 26px;
  }

  .things__buttons::before {
    top: -15px;
  }
}
