.main-page__background {
  background-image: url("/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 373px;
  min-width: 320px;
}

.main-page__title {
  font-size: 27px;
  line-height: 30px;
}

.promo-buttons {
  font-size: 19px;
  line-height: 24px;

  .promo-buttons__btn {
    text-decoration: none;
    font-weight: bold;
  }
}
